In [31]:
2+2

4

#VARIABLES AND DATA TYPES

In [32]:
name='Azeem'

In [33]:
age=18

In [34]:
color='blue'

In [35]:
is_sleeping=False

#integer

In [36]:
x=1
y=35656222554887711654878379563864288035935736878539643774989847557565856494004875957499575769504750450
z=-3255525

#Float

In [37]:
a=1.10
b=1.0
c=-35.59
d=87.7e100

strings

In [38]:
name1="bruce wayne"
color="yellow"
institute='''digipodium'''

boolean

In [39]:
is_coding=True
is_fun=True
are_u_bored=False

None

In [40]:
q=None

special data types

list

In [41]:
numbers=[5,10,15,20,25]
list=[1,2.0,"Azeem"]
colours=['red','green','yellow']

#tuple
immutable cant be changed
faster than list

In [42]:
fixed_values=(1,2,3,4,5,6,7,8,68,79,887)

#SETS

they are unordered and unique

In [43]:
a1={5,10,15,25,5,56,7}
vals={'python',1,2.3}
colorr={'red','green','yellow'}

#DICTIONARY

oredered and key value pair

In [44]:
car_info={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}

#operators..

#arithmetic operators

In [45]:
10+20

30

In [46]:
10-3

7

In [47]:
10*20

200

In [48]:
10/3

3.3333333333333335

In [49]:
10%3

1

In [50]:
10//3

3

In [51]:
10**3

1000

In [52]:
x=10

In [53]:
x-=5

In [54]:
x*=6

In [55]:
x/=5

In [56]:
x//=1

In [57]:
x**=2

#comparison operator

In [58]:
x==5

False

In [59]:
x!=5

True

In [60]:
x>5

True

In [61]:
x<5

False

In [62]:
x>=5

True

In [63]:
x<=5

False

#logical opertor

In [64]:
x<5 and x>4

False

In [65]:
x<5 or x<4

False

In [66]:
not(x<5 and x<10)

True

In [68]:
"hello"=='hello'

True

identity operator

In [69]:
x=[5,1,2,3]
y=[5,1,2,3]
z=x

In [70]:
x==y

True

In [71]:
x is y #different memory location of x and y

False

In [72]:
x is z #same memory location of x and z

True

#list used for searching (in)

In [73]:
list_of_days=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

In [76]:
'Monday' in list_of_days

True

In [75]:
'xyz' in list_of_days

False

In [77]:
print(list_of_days)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#Input

In [80]:
hero=input('who is your favourite hero:')

In [81]:
print(hero)

Big b

#data type of user input

In [82]:
name=input('enter your name:')
age=input('enter your age :')
school=input('enter your school name:')

In [83]:
age=int(age)

In [84]:
type(age) #to know data type of variable

int

In [85]:
type(name)

str

#casting in python

In [86]:
x='100'
y='-90'
x+y

'100-90'

In [87]:
x=int(x)
y=int(y)
x+y

10

In [89]:
x=8.09
x=int(x)

In [92]:
z=1.232
z1=int(z)
type(z)

float

In [93]:
type(z1)

int

#practice

In [95]:
a=input('enter your name')
type(a)

str

In [96]:
b=input('age of tiger')

In [97]:
type(b)

str

In [98]:
x=5
x=str(5)
type(x)

str

In [99]:
pi=3.145
p=int(pi)
type(p)

int

In [100]:
num=0
val=bool(num)
type(val)

bool

In [101]:
married='yes'
m=bool('married')
print(m)
type(m)

True

bool