#loops FOR

In [3]:
x="PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [1]:
word="This is Sparta"
for i in word:
    print(i)

T
h
i
s

i
s

S
p
a
r
t
a

In [5]:
fruits=['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

#range

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [5]:
for num in range(1,10,3):
    print("level",num)

level 1
level 4
level 7

#reverse loop

In [6]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [7]:
for i in range (15):
    print(i*"Na")

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNaNa

In [8]:
for num in range(1,101):
    if num%3==0 and num%5==0:
        print(num)

15
30
45
60
75
90
ERROR! Session/line number was not unique in database. History logging moved to new session 12

In [9]:
places=["Paris","London","New York","Madrid","Rome"]
for place in places:
    print(f'{place} contains {len(place)} characters')

Paris contains 5 characters
London contains 6 characters
New York contains 8 characters
Madrid contains 6 characters
Rome contains 4 characters

In [14]:
x=[1,2,3,2,3,1,2,1,3,2,1,2,3,2,2,3,1,3,3,2,1,2,3,3,2,1,2,3,2,1,2,]
count=0
for i in x:
    if i==2:
        count+=1
print(count)

13