In [7]:
my_tuple=(1,'Hello',3.4)   #mixed data type tuple
print(my_tuple)

(1, 'Hello', 3.4)

In [8]:
my_tuple1=("mouse",[8,4,6],(1,2,3))       #nested tuple
print(my_tuple1)

('mouse', [8, 4, 6], (1, 2, 3))

In [9]:
my_tuple2=3,2.46,"Apple"          # without parentheses called tuple packing
print(my_tuple2)

(3, 2.46, 'Apple')

In [10]:
my_tuple3=('p','e','r','m','i','t')
print(my_tuple3[0])
print(my_tuple3[5])

p
t

In [13]:
n_tuple=("mouse",[8,4,6],(1,2,3))
print(n_tuple[0][3])
print(n_tuple[2][1])

s
2

In [19]:
my_tuple6=('e','x','c','a','l','i','b','u','r')

In [20]:
print(my_tuple6[1:4])

('x', 'c', 'a')

In [21]:
print(my_tuple6[:-7])

('e', 'x')

In [22]:
print(my_tuple6[7:])

('u', 'r')

In [23]:
print(my_tuple6[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

# OTHER OPERATIONS

In [24]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [26]:
print(("Repeat",)*3)      # comma nhi lagaya to sath me sab print ho jaega

('Repeat', 'Repeat', 'Repeat')

In [28]:
tple=('a','p','p','l','e')
print(tple.count('p'))
print(tple.index('l'))

2
3

In [29]:
x=(1,23,4,5)

In [30]:
xl=list(x)
print(x,xl)           # converting tuple to a list

(1, 23, 4, 5) [1, 23, 4, 5]

In [31]:
xs=set(x)
print(x,xs)              # conevrting tuple to a set

(1, 23, 4, 5) {1, 4, 5, 23}

In [32]:
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [37]:
my_set1={1.0,"Oye",(1,2,3)}
print(my_set1)                    # unordered and mutable

{1.0, (1, 2, 3), 'Oye'}

In [38]:
myset1={1,2,3,4,3,2}
print(myset1)                      # no repetition of elements

{1, 2, 3, 4}

In [40]:
miset={[1,2,3]}
print(miset)

TypeError: unhashable type: 'list'

In [1]:
a=set() # for aming an empty set we use set function

In [3]:
print(type(a))  #set k ander string integer tuple bhej sakte h

<class 'set'>

In [5]:
set={1,3}
print(set)

{1, 3}

In [6]:
set.add(2)
print(set)

{1, 2, 3}

In [7]:
set.update([2,3,4])
print(set)

{1, 2, 3, 4}

In [8]:
set.update([4,5],[1,6,8])
print(set)

{1, 2, 3, 4, 5, 6, 8}

In [9]:
setr={1,3,4,5,6}
print(setr)

{1, 3, 4, 5, 6}

In [11]:
setr.discard(4)
print(setr)     # discard use kro error nhi deta hai bhtar

{1, 3, 5, 6}

In [12]:
setr.remove(6)
print(setr)

{1, 3, 5}

In [13]:
setr.pop()
print(setr)

{3, 5}

In [14]:
setr.clear()
print(setr)

set()

# set operations

In [15]:
seta={1,2,3,4,5}
setb={4,5,6,7,8}

In [16]:
print(seta|setb)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
seta.union(setb)

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
setb.union(seta)

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
print(seta&setb)

{4, 5}

In [21]:
seta.intersection(setb)

{4, 5}

#difference

In [22]:
print(seta-setb)

{1, 2, 3}

In [23]:
seta.difference(setb)

{1, 2, 3}

In [24]:
setb-seta

{6, 7, 8}

#set symmmetric difference

In [25]:
print(seta^setb)

{1, 2, 3, 6, 7, 8}

In [26]:
seta.symmetric_difference(setb)

{1, 2, 3, 6, 7, 8}

In [27]:
e1={'mobile','camera','tv','remote','console'}
e2={'tv','remote','airpods','smartwatch','xbox'}
print(e1|e2)
print(e1&e2)
print(e1-e2)
print(e1^e2)

{'airpods', 'smartwatch', 'mobile', 'xbox', 'console', 'camera', 'remote', 'tv'}
{'remote', 'tv'}
{'camera', 'mobile', 'console'}
{'airpods', 'smartwatch', 'camera', 'console', 'mobile', 'xbox'}

#dictionary

In [30]:
my_dict={1:'apple',2:'ball'}
print(my_dict)

{1: 'apple', 2: 'ball'}

In [31]:
my_dict[1]

'apple'

In [32]:
my_dict={'name':'Jack','age':26}

In [33]:
print(my_dict['name'])

Jack

In [34]:
print(my_dict['age'])

26

In [35]:
print(my_dict['address'])  #isme nhi milega to error aega

KeyError: 'address'

In [37]:
print(my_dict.get('address'))

None

In [38]:
my_dict['age']=27  #agr age hai to update krega 26 se 27 nhi hai to nya key bna k value dal dega

In [39]:
my_dict['address']='Downtown'

In [40]:
print(my_dict)

{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [48]:
squares={1:1,2:4,3:9,4:16,5:25}

In [42]:
print(squares.pop(4))    #  jah key 4 hai wo value hata dega aur value output dikha dega nhi hogi key to error dega

16

In [44]:
print(squares.popitem())    # ye last me se key value pair ko hata ta hai

(3, 9)

In [45]:
squares.clear()

In [ ]:
del squares    #del is keyword deletes variable from memory

In [49]:
for i in squares:
    print(i)

1
2
3
4
5

In [50]:
for i in squares:
    print(squares[i])

1
4
9
16
25

In [52]:
for k,v in squares.items():
    print(k,v)

1 1
2 4
3 9
4 16
5 25

In [81]:
grades={'azeem':{'p':78,'c':95,'m':67,'b':56,'e':37},
       'neven':{'p':67,'c':90,'m':78,'b':55,'e':57},
       'harry':{'p':76,'c':45,'m':34,'b':53,'e':67},
       'mark':{'p':45,'c':56,'m':78,'b':51,'e':77},
       'hari':{'p':67,'c':34,'m':90,'b':59,'e':87}}
print(grades)

{'azeem': {'p': 78, 'c': 95, 'm': 67, 'b': 56, 'e': 37}, 'neven': {'p': 67, 'c': 90, 'm': 78, 'b': 55, 'e': 57}, 'harry': {'p': 76, 'c': 45, 'm': 34, 'b': 53, 'e': 67}, 'mark': {'p': 45, 'c': 56, 'm': 78, 'b': 51, 'e': 77}, 'hari': {'p': 67, 'c': 34, 'm': 90, 'b': 59, 'e': 87}}

In [82]:
grades

{'azeem': {'p': 78, 'c': 95, 'm': 67, 'b': 56, 'e': 37},
 'neven': {'p': 67, 'c': 90, 'm': 78, 'b': 55, 'e': 57},
 'harry': {'p': 76, 'c': 45, 'm': 34, 'b': 53, 'e': 67},
 'mark': {'p': 45, 'c': 56, 'm': 78, 'b': 51, 'e': 77},
 'hari': {'p': 67, 'c': 34, 'm': 90, 'b': 59, 'e': 87}}

In [83]:
grades['neven']

{'p': 67, 'c': 90, 'm': 78, 'b': 55, 'e': 57}

In [84]:
grades['azeem']['c']

95

In [85]:
for name,marks in grades.items():
    print(name)
    for sub,mark in marks.items():
        print(f'=>{sub}:{mark}')
    print('-'*20)

azeem
=>p:78
=>c:95
=>m:67
=>b:56
=>e:37
--------------------
neven
=>p:67
=>c:90
=>m:78
=>b:55
=>e:57
--------------------
harry
=>p:76
=>c:45
=>m:34
=>b:53
=>e:67
--------------------
mark
=>p:45
=>c:56
=>m:78
=>b:51
=>e:77
--------------------
hari
=>p:67
=>c:34
=>m:90
=>b:59
=>e:87
--------------------