#loops FOR

In [3]:
x="PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [1]:
word="This is Sparta"
for i in word:
    print(i)

T
h
i
s

i
s

S
p
a
r
t
a

In [5]:
fruits=['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

#range

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [5]:
for num in range(1,10,3):
    print("level",num)

level 1
level 4
level 7

#reverse loop

In [6]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [7]:
for i in range (15):
    print(i*"Na")

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNaNaNaNaNaNa

In [8]:
for num in range(1,101):
    if num%3==0 and num%5==0:
        print(num)

15
30
45
60
75
90
ERROR! Session/line number was not unique in database. History logging moved to new session 12

In [9]:
places=["Paris","London","New York","Madrid","Rome"]
for place in places:
    print(f'{place} contains {len(place)} characters')

Paris contains 5 characters
London contains 6 characters
New York contains 8 characters
Madrid contains 6 characters
Rome contains 4 characters

In [14]:
x=[1,2,3,2,3,1,2,1,3,2,1,2,3,2,2,3,1,3,3,2,1,2,3,3,2,1,2,3,2,1,2,]
count=0
for i in x:
    if i==2:
        count+=1
print(count)

13

# While Loop

In [1]:
x=1
while x<10:
    print("Running")
    x+=1
print("Stopped")

Running
Running
Running
Running
Running
Running
Running
Running
Running
Stopped

In [2]:
n=10
total=0
i=1
while i<=n:
    total=total+i
    i=i+1
print('The sum is:',total)

The sum is: 55

In [5]:
while input('continue?')=="y":
    print("you continued running this loop")

you continued running this loop
you continued running this loop
you continued running this loop

In [6]:
while len(input("name a place"))>0:
    print("you entered a place")

you entered a place
you entered a place
you entered a place
you entered a place

In [9]:
num=int(input("enter a number"))
while num >0:
    if num%7==0:
        break
    print(num)
    num-=1

55
54
53
52
51
50

In [12]:
story=""
while True:
    line=input("enter a line")
    if line=="":
        break
    story+= line +"\n"
print(story)

i am the best
beast mode
hustle
come on
hello world

In [14]:
x=[1,2,3,1,0,2,3,0,2,3,0,2,3,1,2,3,0,3,2,1,2,3,0,3,0,2]
for i in x:
    if i ==0:
        continue
    print(i)

1
2
3
1
2
3
2
3
2
3
1
2
3
3
2
1
2
3
3
2

In [3]:
fruits=['apple','banana','mango']
for fruit in fruits:
    print("we have", fruit)
    
else:
    print("thats all")

we have apple
we have banana
we have mango
thats all

In [2]:
vegs=['Tomato','Carrot','Cucumber','Potato','Onion']
for veg in vegs:
    print(f'looking at {veg}')
    if veg=="Potato":
        print("Potato found")
        break
else:
    print("potato not found")

looking at Tomato
looking at Carrot
looking at Cucumber
looking at Potato
Potato found

In [23]:
# Prime number
num=int(input("Enter a number:"))
for i in range(2,num):
    print(f'{num}/{i}=={num%i}')  #extra line for understanding
    if num%i==0:
        print(f"{num} is not a prime number")
        break
else:
    print(f"{num} is a prime number")

567/2==1
567/3==0
567 is not a prime number

# Enumerate and Zip

In [24]:
for idx, val in enumerate(vegs):
    print(idx,val)

0 Tomato
1 Carrot
2 Cucumber
3 Potato
4 Onion

# Zip

In [26]:
x=[1,2,3,4,5,6,6]
y=[2,3,4,5,6,6,8]
z=[2,3,4,7,8,3,9]
for i,j,k in zip(x,y,z):
    print(i,j,k)

1 2 2
2 3 3
3 4 4
4 5 7
5 6 8
6 6 3
6 8 9

In [30]:
x=[1,2,3,4,5,6,6]
y=[2,3,4,5,6,6,8]
z=[2,3,4,7,8,3,9]
for i,j,k in zip(x,y,z):
    print(i+j+k,end=' ')

5 8 11 16 19 15 23